<html>
	<head>
		<base />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>📜</text></svg>">
		<title>WebStream</title>
		<style>

			/* Light Color Scheme */
			:root {
				color: #000;
				background-color: #fafafa;
			}
			::-webkit-scrollbar {
				height: 8px;
				width: 8px;
				background: transparent;
			}

			::-webkit-scrollbar-thumb {
				-webkit-border-radius: 4px;
				background: #fafafa;
			}

			::-webkit-scrollbar-corner {
				background: transparent;
			}

			/* Dark Color Scheme */
			@media (prefers-color-scheme: dark) {
				:root {
					color: #fff;
					background-color: #212121;
				}
				::-webkit-scrollbar-thumb {
					background: #212121;
				}
			}

			html
			{
				overflow-y: scroll;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
			}

			#code-block
			{
				background-color: rgba(129, 192, 254, 0.15);
				width: 90%;
				height: 50vh;
				margin: auto;
				margin-top: 20px;
				font-family: monospace;
				padding: 5px;
				tab-size: 4;
			}

			#root
			{
				display: flex;
				height: 100%;
				overflow: scroll;
			}
		</style>
	</head>
	<body>
		<h1>Logs</h1>

		<pre id="code-block"><code id="root"></code></pre>

		<script>
			document.getElementsByTagName("base")[0].href = window.location.href
			const bloc = document.getElementById("root")

			function initOutput()
			{
				const data = new Date().toISOString() + " Opening..."
				console.log("Output:", data)
				bloc.innerText = data
			}

			function printOutput(data)
			{
				console.log("Output:", data)
				bloc.innerText = bloc.innerText.trimEnd() + "\n" + data
				bloc.scrollTop = bloc.scrollHeight;
			}

			// Rebuild the ws endpoint URL
			// ws to wss for https hosting
			const wsUrl = new URL(window.location.toString())

			wsUrl.pathname += "{{.WsPath}}"
			wsUrl.pathname = wsUrl.pathname.replaceAll("//", "/")

			wsUrl.protocol = window.location.protocol === "https:" ? "wss:" : "ws:"

			const ws = new WebSocket(wsUrl.href)
			ws.onopen = function(event)
			{
				console.log("Connection opened ...")
				initOutput()
			}

			ws.onerror = function(err)
			{
				printOutput("Error", err.toString())
			}

			// Event handler for receiving text from the server
			ws.onmessage = function(event)
			{
				printOutput(event.data)
			}

			ws.onclose = function()
			{
				printOutput("Connection closed...")
			}
		</script>
	</body>
</html>
